.title{
    background-color: rgb(173, 222, 100);
    padding: 10px;
    width: 50%;
    border-radius: 30px;
    text-align: center;
}


.footer{
    bottom: 0;
    position: absolute;
    background-color: rgb(173, 222, 100);
    width: 100vw;
    height: 40px;
    padding: 10px;
}